<% if @error_message %>
    <div class="form-error">
        <%= @error_message %>
    </div>
<% end %>
<div class="post-btn">
    <%= link_to("投稿", "/posts/new") %>
</div>
<div class="row">
    <div class="col-4">
        <ul class="user-profile clearfix">
            <% if @user.id == @current_user.id %>
                <%= link_to "/users/#{@user.user_name}/edit" do %>
                    <i class="fas fa-pen"></i>
                <% end %>
            <% end %>
            <li class="nickname"><%= @user.nickname %></li>
            <li class="user-id"><%= "@" %><%= @user.user_name %></li>
            <li class="biography"><%= safe_join(@user.biography.split("\n"),tag(:br)) %></li>
        </ul>
        <div class="top-keyword-search mb-3">
            <%= form_tag("/books/search") do %>
                <input type="text" name="search" placeholder="  タイトル・著者名" autocomplete="off">
                <button type="submit" class="top-search-btn"><i class="fas fa-search"></i></button>
            <% end %>
        </div>
        <!--
        <ul class="user-menu">
            <%= link_to "/users/#{@user.user_name}" do %>
                <li><i class="far fa-user"></i>プロフィール</li>
            <% end %>
            <%= link_to "/follow" do %>
                <li><i class="fas fa-people-arrows"></i>フォロー</li>
            <% end %>
            <%= link_to "/ranking" do %>
                <li><i class="fas fa-trophy"></i></i>ランキング</li>
            <% end %>
            <%= link_to "/favorite" do %>
                <li><i class="far fa-star"></i>お気に入り</li>
            <% end %> 
        </ul>
        -->
    </div>
    <div class="col-8">
        <div class="user-posts">
            <% i = 0 %>
            <% @myposts.each do |post| %>
                <div class="post-item clearfix">
                    <%= link_to  "/posts/#{post.id}" do %>
                        <div class="post-item-info">
                            <div class="clearfix">
                                <p class="post-user-name"><%= @user.nickname %></p>
                                <p class="post-user-id"><%= "@" %><%= @user.user_name %></p>
                            </div>
                            <p class="post-title"><i class="fa fa-book" aria-hidden="true"></i><%= post.title %></p>
                            <p class="post-author"><i class="fa fa-user" aria-hidden="true"></i><%= post.author%></p>
                            <p class="post-date"><%= post.created_at.strftime("%Y/%m/%d") %></p>
                        </div>
                        <% if post.isbn_code != nil && post.isbn_code != "" %>
                            <div class="calligraphy calligraphy<%= i %> img-thumbnail"></div>
                        <% else %>
                            <div class="calligraphy img-thumbnail"><p class="user-no-img">no image</p></div>
                        <% end %>
                    <% end %>
                </div>
                <script>
                    $(function() {
                        let url = "https://api.openbd.jp/v1/get?isbn=" + '<%= post.isbn_code %>';
                        $.getJSON( url, function( data ) {
                            if( data[0].summary.cover == "" ){
                                $(".calligraphy<%= i %>").html('<p class="user-no-img">no image</p>');
                            } else {
                                $('.calligraphy<%= i %>').html('<img src=\"' + data[0].summary.cover + '\">');
                            }
                        });
                    });
                </script>
                <% i+=1 %>
            <% end %>
        </div>
        <!-- ページネーション -->
        <%= paginate @myposts %>
    </div>
</div>