<div class="top">
    <%= link_to("about") do %>
        <div class="top-about-service my-4">
            <h2>本をもっと身近に</h2>
            <p>yondaは、読後の新鮮な感想を簡単に記録するためのサービスです。</p>
        </div>
    <% end %>

    <div class="row mb-5">
        <div class="col-8">
            <p class="recently-posts-title">最近の投稿</p>
            <div class="recently-posts p-3">
                <% i = 0 %>
                <% @recently_posts.first(6).each do |post| %>
                    <%= link_to "books/show/#{post.isbn_code}" do %>
                        <li class="recently-post-item clearfix">
                            <div class="recently-post-item-img top-calligraphy<%= i %> img-thumbnail"></div>
                            <div class="recently-post-item-info">
                                <p class="recently-post-title"><i class="fa fa-book" aria-hidden="true"></i><%= post.title %></p>
                                <p class="recently-post-author"><i class="fa fa-user" aria-hidden="true"></i><%= post.author%></p>
                            </div>
                        </li>
                        <script>
                            $(function() {
                                let url = "https://api.openbd.jp/v1/get?isbn=" + '<%= post.isbn_code %>';
                                $.getJSON( url, function( data ) {
                                    if( data[0].summary.cover == "" ){
                                        $(".top-calligraphy<%= i %>").html('<p class="no-img">no image</p>');
                                    } else {
                                        $('.top-calligraphy<%= i %>').html('<img src=\"' + data[0].summary.cover + '\">');
                                    }
                                });
                            });
                        </script>
                        <% i += 1 %>
                    <% end %>
                    <p class="line"></p>
                <% end %>
            </div>
        </div>
        <div class="col-4">
            <div class="top-keyword-search">
                <%= form_tag("/books/search") do %>
                    <input type="text" name="search" placeholder="  タイトル・著者名" autocomplete="off">
                    <button type="submit" class="top-search-btn"><i class="fas fa-search"></i></button>
                <% end %>
            </div>
            <div class="top-signup mt-4">
                <%= link_to("/signup") do %>
                    <p class="home-btn">新規登録はこちら</p>
                <% end %>
                <p class="top-signup-description">アカウントを作成する場合は、<br>上記ボタンから登録画面に進んでください。</p>
                <p class="top-signup-description">アカウントをお持ちの方は<%= link_to("こちら", "/login") %>から<br>ログインしてください。</p>
            </div>
        </div>
    </div>
</div>