<div class="row">
    <div class="col-4">
        <p><%= link_to("ホーム", "/posts/index") %></p>
        <p><%= link_to("ユーザページ", "/users/#{@current_user.id}") %></p>
        <p><%= link_to("ランキング", "/ranking")%></p>
        <p><%= link_to("お気に入り", "/favorite") %></p>
    </div>
    <div class="col-8">
        <div class="post-btn">
            <%= link_to("yonda!", "/posts/new") %>
        </div>
        <div class="posts">
            <% @posts.each do |post| %>
                <div class="post-item">
                    <%= link_to  "/posts/#{post.id}" do %>
                        <p><%= post.title %></p>
                        <p><%= post.author%></p>
                        <p><%= post.created_at%></p>
                    <% end %>
                </div>
            <% end %>
        </div>
        <%= paginate @posts %>
    </div>
</div>