<!DOCTYPE html>
<html>
  <head>
    <title>Yonda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>

  <body>
    <header>
      <div class="container">
        <p class="header-logo">yonda</p>
        <%= link_to("新規登録", "/signup") %>
        <%= link_to("ログイン", "/login") %>
      </div>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container">
        <p class="footer-logo">yonda</p>
      </div>
    </footer>
  </body>
</html>
